@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');

:root{
    --font-heading-scale: 1.1363636363636365;
    --ff: "Gayathri", sans-serif;
    --fw-100:font-weight: 100;
    --fw-400:font-weight: 400;
    --fw-700:font-weight: 700;
}

  
/* --------------------------------------- */
html{
    width: 100vw;
}
body{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    height: fit-content;
    overflow-x: hidden;
}
#header {
    background: transparent !important;
  }
  #header .header-nav{
    border: 0;
  }
  .animate-arrow {
    width: 100%;
    justify-content: center;
    font-size: 1.5rem;
    height:50px;
    display:flex;
    align-items:center;
    gap:1rem;
    cursor:pointer;
  }

  .animate-arrow:hover{
    color: rgb(0,0,0);
    background-color: rgba(0,0,0, .06);
  }
  .animate-arrow:hover{
    color: #121212 !important;
  }
  .animate-arrow .icon-arrow path {
    transform: translate(-0.25rem);
    transition: transform 0.1s ease;
}
  .animate-arrow:hover .icon-arrow path {
    transform: translate(0);
}
.icon-arrow {
    width: 1.5rem;
}

.icon-cart-empty {
    height: 3.4rem;
    width: 3.4rem;
    color: #fff;
}

a{
    cursor: pointer;
}

.menu-top{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0 0 0 ;
}
.menu-top li a.active{
    color: rgb(250, 250, 250) !important;
    text-decoration: underline !important;
    text-underline-offset: 0.3rem !important;
}
.menu-top li a{
    font-family: var(--ff);
    font-size: 1.4rem;
    color: rgba(250, 250, 250, .75) !important;
}
.menu-top li a:hover{
    color: rgb(250, 250, 250) !important;
    text-decoration: underline !important;
    text-underline-offset: 0.3rem !important;
}

.header-top {
    background: #121212 !important;
  }
  #index {
    background: linear-gradient(310deg, rgba(56, 78, 197, 1) 23%, rgba(255, 58, 129, 0.8) 52%, rgba(255, 201, 104, 1) 95%);
  }

  #index #wrapper{
    padding-top: 0;
  }

  .header-bottom-content {
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  color: #121212;
  }

  .header-bottom-content h1{
    font-size: calc(var(--font-heading-scale)* 2.4rem);
    font-family: "Righteous", sans-serif;;
    font-weight: var(--fw-700);
  }
  .header-bottom-content h6{
    color:rgba(0, 0, 0, .75);
    font-size: 1.3rem;
  }
  .header-bottom-content .btn{
    background:rgba( 255, 88, 170);
    color: #121212;
    border-radius: 26px;
    border-color: #121212;
    border-width: 2px;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
  }
  .header-bottom-content .btn:hover{
    outline-offset: 0px;
    outline: 1px solid #121212;
  }

  #index #content-wrapper {
    background: #121212;
    padding: 0;
  }

  .featured-products .product-miniature .thumbnail-container {
    background: transparent !important;
  }

  .featured-products .product-miniature .thumbnail-container .thumbnail-top {
    border-radius: 0.85rem;
  }

  .featured-products .product-miniature .thumbnail-container .product-description {
    background: transparent;
  }

  .featured-products .product-miniature .thumbnail-container .product-description .product-title a{
    color: #fff;
  }

  .featured-products .product-miniature .thumbnail-container .product-description .product-price-and-shipping {
    color: #fff;
  }

.product-thumbnail:hover img.img_0{
    display: none !important;
}
.product-thumbnail img.img_1{    
    display:none !important;
}
.product-thumbnail:hover img.img_1{    
    display: block !important;    
}

.thumbnail-container:hover .product-title a {
  text-decoration: underline;
}

.container-all-product-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.featured-products .all-product-link{
  color: #121212;
  background: aqua;
  padding: 1rem 2rem;
  border-radius: 30px;
}